:root{
    --bg-color: #242933;
    --main-color: #d8dee9;
    --sub-color: #617b94;
    --sub-alt-color: #1b1f27;
    --text-color: #d8dee9;
    --error-color: #bf616a;
    --font: 'Roboto Mono', monospace;

    --b: #1b577770;
    --r: #85101070;

    --subFilter: invert(53%) sepia(21%) saturate(567%) hue-rotate(168deg) brightness(84%) contrast(87%); 
    /* default color filter from black to sub-color */

    --mainFilter: invert(95%) sepia(6%) saturate(865%) hue-rotate(184deg) brightness(91%) contrast(100%);
    /* dedfault color filter from black to main-color */
}


@font-face {
    font-family: minecraft;
    src: url(Minecraft-Regular.otf);
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--sub-color);
    border-radius: 10px;
    border: 2px solid var(--main-color);
  }

body{
    margin: 0px;
}

#main{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    z-index: -1;

    background-color: var(--sub-alt-color)
}

#sidebar{
    height: 90vh;
    max-width: 7vw;
    width: 65px;
    border-radius: 0.5rem;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
    margin-right: 2vw;

    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;

    color: var(--sub-color);
    transition: all ease-out 0.3s;

}
.nav:hover{
    cursor: pointer;
    transform: translateX(-1px) translateY(-1px);
    color: var(--main-color);  
}

.navImg{
    max-width: 48px;
    max-height: 48px;

    margin-left: auto;
    margin-right: auto;

    filter: inherit;

    transition: all ease-out 0.3s;
    filter: var(--mainFilter)
}

a:hover{
    cursor:pointer;
}

.navLabel{
    margin-left: auto;
    margin-right: auto;

    font-family: var(--font);
    font-size: 0.75rem;
    color: inherit;

    user-select: none;
    transition: all ease-out 0.3s;
}

.navLabel:hover{
    cursor: pointer;
    /* transform: translateX(-1px) translateY(-1px);
    color: var(--main-color); */
}

.cell, .headCell{
    font-family: var(--font);
    color: var(--main-color);
    overflow:hidden;
}
.headCell {
    position: sticky;
    top: 0px;
    background-color: var(--sub-alt-color);
    font-size: 0.9vw;
}
th, td{
    table-layout: fixed;
    width: auto;
    overflow:hidden;
    border-collapse: collapse;
}
table{
    table-layout: fixed;
}

#table-container{
    overflow-y: scroll;
    max-height: 90vh;
    width: auto;
    font-family: var(--font);
    text-align: center;
}

#table-container tbody tr {
    color: rgb(201, 195, 246);
    background-color: #5f5f5f;
    border-bottom: 1px solid #dddddd;
}

#table-container tbody tr:nth-of-type(even) {
    background-color: #504f4f;
}

#table-container tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#table-container tbody tr td div {
    height: auto;
}
#table-container tbody tr td div p {
    vertical-align: middle;
}

#table-container tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#rank-container {
    overflow-y: scroll;
    max-height: 90vh;
    width: auto;
    font-family: var(--font);
    text-align: center;
}
#rank-container tbody tr {
    color: rgb(201, 195, 246);
    background-color: #5f5f5f;
    border-bottom: 1px solid #dddddd;
}
#rank-container tbody tr:nth-of-type(even) {
    background-color: #504f4f;
}
#rank-container tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#rank-container tbody tr td div {
    height:auto;
}
#rank-containertbody tr td div p {
    vertical-align: middle;
}

.tabcontent {
    display: none;
}

#searchContainer{
    display:grid;
    background-color: var(--bg-color);
    grid-template-columns: repeat(10, 8.9vw); 
    /* ^ above line is iffy, pls change later */
    grid-template-rows: repeat(10, 9vh);
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 2vw;
    width: calc(96vw - 65px - 2vw);
    overflow:hidden;

    border-radius: 0.45rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.searchmain{
    grid-row: 3/4;
    grid-column: 3/9;

    border: 3px solid var(--sub-color);
    border-radius: 1rem;
    background-color: var(--bg-color);

    font-family: var(--font);
    padding-left: 1vw;
    font-size: 1rem;
    color: var(--text-color);

    transition: all 0.2s ease-in-out;
}
.searchmain:focus{
    outline: none;
    border: 3px var(--main-color) solid;

}
.searchbar{
    grid-row: 1/2;
    grid-column: 6/11;
    margin: 1vh;
    margin-right: 5vw;

    border: 2px solid var(--sub-color);
    border-radius: 1rem;
    background-color: var(--bg-color);

    font-family: var(--font);
    padding-left: 1vw;
    font-size: 1rem;
    color: var(--text-color);

    transition: all 0.2s ease-in-out;
}

.searchbar:focus{
    outline: none;
    border: 2px var(--main-color) solid;
    transform: translateX(-1px) translateY(-1px);

}

#imgContainer{
    grid-row: 1/5;
    grid-column:1/3;
    font-size: 2rem;
    color: lightcoral;
}

#miscData{
    grid-row: 5/7;
    grid-column: 1/3;
    overflow-y:scroll;
    font-family: var(--font);
}
#miscData table tr {
    color: rgb(201, 195, 246);
    background-color: #5f5f5f;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
#pitsData{
    grid-row: 2/7;
    grid-column: 1/3;
    overflow-y:scroll;
    font-family: var(--font);
}
#pitsData table tr {
    color: rgb(201, 195, 246);
    background-color: #5f5f5f;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

#graphContainer{
    grid-row: 7/11;
    grid-column: 1/3;
}
.chartjs-render-monitor{
    background-color: white;
    padding-bottom:10vh;
}
#dataContainer{
    font-family: var(--font);
    text-align: center;
    grid-row: 2/7;
    grid-column: 3/11;
    overflow-y:scroll;
}
#dataContainer table {
    width:100%;
}
#dataContainer table tr {
    color: rgb(201, 195, 246);
    background-color: #5f5f5f;
    border-bottom: 1px solid #dddddd;
}
#dataContainer table tr:nth-of-type(even) {
    background-color: #504f4f;
}
#qataContainer{
    text-align: center;
    grid-row: 7/11;
    grid-column: 3/11;
    overflow-y:scroll;
}
#qataContainer table{
    width:100%;
    overflow-y: scroll;
    font-family: var(--font);
}
#qataContainer table thead tr th{
    height:auto;
}
#qataContainer table thead tr th:last-of-type{
    height:auto;
    width:90%;
}
#qataContainer table tr {
    color: rgb(201, 195, 246);
    background-color: #5f5f5f;
    border-bottom: 1px solid #dddddd;
}
#qataContainer table tr:nth-of-type(even) {
    background-color: #504f4f;
}


.hide{
    display:none;
}

tr, td{
    color: white;
}
